$background-medium: #822c24;
$background-dark: #65241d;
$background-darker: #400907;
$background-darkest: #2E2229;

$carousel-item-height: 200px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin:0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px,30px);
  background-color: $background-medium;
  color: floralwhite;
}

.row-header {
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  min-height:400px;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: $background-darkest;
}

.navbar-dark {
  background-color: $background-dark;
}

.carousel {
  background:$background-darkest;

  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: $carousel-item-height;
    }
  }

  .carousel-anchor {
    color: #bbb;
  }

  .carousel-anchor:hover {
    color: #eee;
  }
}

#carouselButton {
  right:0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.footer {
  color: #eee;
  background-color: $background-darker;
  @include zero-margin(20px, 0px);

  a:link {
    color: #eee;
  }

  a:visited {
    color: #eee;
  }

  .blockquote-footer {
    color: #eee;
  }
}