$background-medium: #822c24;
$background-dark: #65241d;
$background-darker: #400907;
$background-darkest: #2E2229;

$carousel-item-height: 200px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin:0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px,30px);
  background-color: $background-medium;
  color: floralwhite;
  .img-fluid {
    margin: 10px 10px 10px 10px;
    max-width: 256px;
  }
  .media-body {
    margin: 0px 10px 10px 0px;
    max-width: 250px;
    font-size: large;
  }
}

.top-margin {
  margin: 20px 0px 0px 0px;
  color: floralwhite;
}

.top-margin-body {
  margin: 70px 0px 0px 0px;
  padding: 70px 0px 0px 0px;
  color: floralwhite;
}

.white-anchor {
  margin: 0px 10px 10px 0px;
  color: #eee;
  a:link {
    color: #eee;
  }
  a:visited {
    color: #eee;
  }
}

.tooltip-inner {
  a a:visited {
    color: #eee;
  }
}

.row-header {
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  min-height:300px;
}

.col-header {
  margin: 10px 10px 10px 10px;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: $background-darkest;
}

.navbar-dark {
  background-color: $background-dark;
}

.navbar-toggler {
  margin: 0px 0px 0px 20px;
}

.nav-item {
  margin: 0px 0px 0px 20px;
}

.carousel {
  background:$background-darkest;

  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: $carousel-item-height;
    }
  }

  .carousel-anchor {
    color: #bbb;
  }

  .carousel-anchor:hover {
    color: #eee;
  }
}

#carouselButton {
  right:0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.card-body {
  color: floralwhite;
  background-color: $background-darkest;
  a {
    color: #eee !important;
  }
}

.card a {
  color: #000;
}

.card-quote {
  padding: 10px 10px 30px 10px;
}

.blockquote-footer {
  color: #eee;
}

.footer {
  color: #eee;
  background-color: $background-darker;
  @include zero-margin(20px, 0px);

  a:link {
    color: #eee;
  }

  a:visited {
    color: #eee;
  }

}