.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  min-height: 400px; }

.footer {
  color: #eee;
  background-color: #400907;
  margin: 0px auto;
  padding: 20px 0px; }
  .footer a:link {
    color: #eee; }
  .footer a:visited {
    color: #eee; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #822c24;
  color: floralwhite; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: #2E2229; }

.navbar-dark {
  background-color: #65241d; }

.carousel {
  background: #2E2229; }
  .carousel .carousel-item {
    height: 200px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px; }
  .carousel .carousel-anchor {
    color: #bbb; }
  .carousel .carousel-anchor:hover {
    color: #eee; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
